td a {
    color: green;
}

.title_color{
    color: red;
}

.tiledBackground {
    background-size: 20px;
    width: 200px;
    height: 200px;
    border: 2px solid;
    color: green;
    background: url(https://www.mozilla.org/media/img/logos/firefox/logo-quantum.9c5e96634f92.png) no-repeat;
}